<ul class="list-group">
    <li class="list-group-item list-group-item-action">
        <strong>Lorem</strong>
        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nulla placeat maiores, nihil molestias et quod, nisi omnis porro necessitatibus 
            aperiam dolore neque totam laborum iste autem harum eligendi eveniet repellat?
        </i>
    </li>
    <li class="list-group-item list-group-item-action">
        <strong>Lorem</strong>
        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nulla placeat maiores, nihil molestias et quod, nisi omnis porro necessitatibus 
            aperiam dolore neque totam laborum iste autem harum eligendi eveniet repellat?
        </i>
    </li>
</ul>